/****************  DM Sans ********************/
@font-face {
	font-family: "DM Sans";
    src: url(../font/DMSans-Regular.ttf);
    font-weight: 400;
}
@font-face {
	font-family: "DM Sans";
    src: url(../font/DMSans-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}
@font-face {
	font-family: "DM Sans";
    src: url(../font/DMSans-Bold.ttf);
    font-weight: 700;
}
@font-face {
	font-family: "DM Sans";
    src: url(../font/DMSans-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}
@font-face {
	font-family: "DM Sans";
    src: url(../font/DMSans-Medium.ttf);
    font-weight: 500;
}
@font-face {
	font-family: "DM Sans";
    src: url(../font/DMSans-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic;
}
/****************  Roboto Condensed ********************/
@font-face {
	font-family: "Roboto Condensed";
    src: url(../font/RobotoCondensed-Regular.ttf);
    font-weight: 400;
}
@font-face {
	font-family: "Roboto Condensed";
    src: url(../font/RobotoCondensed-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}
@font-face {
	font-family: "Roboto Condensed";
    src: url(../font/RobotoCondensed-Bold.ttf);
    font-weight: 700;
}
@font-face {
	font-family: "Roboto Condensed";
    src: url(../font/RobotoCondensed-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}
@font-face {
	font-family: "Roboto Condensed";
    src: url(../font/RobotoCondensed-Light.ttf);
    font-weight: 300;
}
@font-face {
	font-family: "Roboto Condensed";
    src: url(../font/RobotoCondensed-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}
/****************  Rubik ********************/
@font-face {
	font-family: "Rubik";
    src: url(../font/static/Rubik-Regular.ttf);
    font-weight: 400;
}
@font-face {
	font-family: "Rubik";
    src: url(../font/static/Rubik-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}
@font-face {
	font-family: "Rubik";
    src: url(../font/static/Rubik-Medium.ttf);
    font-weight: 500;
}
@font-face {
	font-family: "Rubik";
    src: url(../font/static/Rubik-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic;
}
@font-face {
	font-family: "Rubik";
    src: url(../font/static/Rubik-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
	font-family: "Rubik";
    src: url(../font/static/Rubik-SemiBoldItalic.ttf);
    font-weight: 600;
    font-style: italic;
}
@font-face {
	font-family: "Rubik";
    src: url(../font/static/Rubik-Bold.ttf);
    font-weight: 700;
}
@font-face {
	font-family: "Rubik";
    src: url(../font/static/Rubik-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}
@font-face {
	font-family: "Rubik";
    src: url(../font/static/Rubik-ExtraBold.ttf);
    font-weight: 800;
}
@font-face {
	font-family: "Rubik";
    src: url(../font/static/Rubik-ExtraBoldItalic.ttf);
    font-weight: 800;
    font-style: italic;
}
@font-face {
	font-family: "Rubik";
    src: url(../font/static/Rubik-Black.ttf);
    font-weight: 900;
}
@font-face {
	font-family: "Rubik";
    src: url(../font/static/Rubik-BlackItalic.ttf);
    font-weight: 900;
    font-style: italic;
}
@font-face {
	font-family: "Rubik";
    src: url(../font/static/Rubik-Light.ttf);
    font-weight: 300;
}
@font-face {
	font-family: "Rubik";
    src: url(../font/static/Rubik-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}